
{{- with . }}
<main class="about">
    <section class="about-section" role="region" aria-labelledby="about">
        <div class="about-section-contents">
            <p>🐝 What’s wrong honey bee? You look a little lost there.</p>
        </div>
    </section>
</main>
{{- end }}